# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Виртуальные окружения
.venv-1/
venv/
env/

# Тестовые артефакты
.pytest_cache/
.hypothesis/
.schemathesis/
schemathesis-report/
.coverage
htmlcov/
allure-results/

# Секреты
.env
.env.local
*.pem
*.key

# IDE
.vscode/
.idea/
*.swp

# ОС
.DS_Store
Thumbs.db

# Логи и дампы БД
*.log
*.sql.bak